
/*----------------------------------Tabla-------------------------------------*/
.container-tabla {
  margin-top: 100px;
  margin-left: 175px;
  margin-right: 100px;
}

/*Titulos*/
.titulo {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1.1px;
}

.titulo-tabla th {
  color: #171c2a;
  font-family: Helvetica;
  font-size: 18px;
}

/*Botones*/
.btn-nueva-tarea {
  background-color: #478971;
  color: white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border: none;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.089);
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-nueva-tarea:hover {
  background-color: #326a56;
  transform: scale(1.05);
}

.btn-editar {
  background-color: #dbeafe;
  color: #1d4ed8;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.btn-editar:hover {
  background: #1d4ed8;
  color: #ffffff;
  text-decoration: none;
}

.btn-eliminar {
  background-color: #fee2e2;
  color: #dc2626;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 10px;
  border: none;
}

.btn-eliminar:hover {
  background: #dc2626;
  color: #ffffff;
  text-decoration: none;
}

.td-acciones {
  padding: 0 !important;
}



/*------------------------------MediaQuery----------------------------------*/
@media (max-width: 991px) {

  /*Navbar*/
  .navbar-vertical {
    width: 100%;
    height: 60px;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 15px;
    border-right: none;
    border-bottom: 1px solid #d1d1d1;
  }

  .navbar-contenedor {
    margin-bottom: 0;
  }

  .badge-hover {
    display: none;
  }

  /*Barra de busqueda*/
  .barra-busqueda {
    height: 40px;
    top: 80px;
    width: calc(100% - 105px); 
    left: 15px;
    right: 15px;
    border-radius: 15px;
    background-color: #E1E1E1;
  }

  .input-busqueda {
    height: 32px !important;
    font-size: 14px !important;
  }

  /*Tabla*/

  .container-tabla {
    margin-top: 150px;
    margin-inline: 40px;
  }
  .titulo {
    font-size: 24px;
  }

  .titulo-tabla th {
    font-size: 14px;
  }

  .table td,
  .table th {
    font-size: 13px;
    padding: 8px;
  }

  .btn-editar,
  .btn-eliminar {
    font-size: 14px;
    padding: 6px 10px;
  }

  /*Perfil*/
  .perfil {
    top: 77px;
    right: 15px;
  }

  .opcion-menu {
    font-size: 12px;
  }

  #menuMiniPerfil {
    top: 40%;
    left: -335%;
    width: 400%;
  }

  .img-perfil {
    width: 30px;
    height: 30px;
  }

  .img-perfil-mini {
    width: 50px;
    height: 50px;
  }

  .menu-contenedor {
    width: 100%;
    border-radius: 15px;
  }

  /*Modales*/
  .titulo-modal {
    font-size: 24px;
  }

  .label-modal {
    font-size: 14px;
    margin-left: 10px;
  }

  .form-control {
    height: 40px;
    font-size: 16px;
    border-radius: 10px;
  }

  .form {
    padding: 15px;
  }

  .btn-modal,
  .btn-cancelar {
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 20px;
  }

  .modal-redondeado {
    border-radius: 20px;
  }
}